#topImage{
    background-image: url("../images/salon12.jpg");
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
   /* background-color: linear-gradient(  rgba(0, 0, 0, 0), rgb(0, 0, 0));*/

}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
}
hr.test {
    border: 1px solid red;
}

h3#header {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(  rgba(0, 0, 0, 0), rgb(0, 0, 0));
    overflow: hidden;
    height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0
}

li.menu {
    float: left;
}

li a {
    display: block;
    padding: 14px 10px;
    color: white;
    text-decoration: none;
}


.bttn1{
    margin:8px 4px 4px 4px;
    width:20%;
    height:50px;
    background-color:blue;
    font-size:16px;
    font-weight:bold;
}

.productData {
    background-color: white;
    margin: 15px 10px 10px 10px;
    padding: 3px;
    border-style: groove;
    border-color: black;
}


.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 2px #FFFFFF;
    background-color: grey;
}

.topnav {
    position:relative;
}

.topnav .img {
    position: absolute;
    bottom: 1px;
    left:15px;
}
#middle-image{
	  background-image: url("../images/bac3.jpg");
	  height: 650px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
}
.bttn2{
	 margin:8px 4px 4px 4px;
    width:10%;
    height:30px;
    background-color:green;
    font-size:10px;
    font-weight:bold;
}
.bttn3{
	 margin:8px 4px 4px 4px;
    width:10%;
    height:30px;
    background-color:red;
    font-size:10px;
    font-weight:bold;
}
.bttn5{
	 margin:8px 4px 4px 4px;
    width:10%;
    height:30px;
    background-color:orange;
    font-size:10px;
    font-weight:bold;
}
form{
	width:400px;
	background:pink;
	color:white;
	margin:auto;
	padding:20px;
	font-size:14px;
	font-family:verdana;
}
#form{
	position:absolute;
	left: 5px;
    }
#sub{
      width:100px;
	  height:30px;
      background: #33cc33;
	  color:black;
    }




